<a href="https://colab.research.google.com/github/faridelya/Pandas_Numpy_Practice/blob/main/Pandas_access_attribute_slice_etc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [you can check here Officially](https://pandas.pydata.org/docs/user_guide/indexing.html)

In [3]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

In [4]:
df

                   A         B         C         D
2000-01-01 -0.275069  1.066053  1.500997  1.618259
2000-01-02 -1.417984  0.362490  0.157748  1.262893
2000-01-03  1.131592  2.463179 -1.807286  0.449326
2000-01-04  0.018367  0.175605  0.940425 -0.241833
2000-01-05 -1.183472  0.480254 -0.020086  0.577372
2000-01-06 -1.005984 -0.328074 -1.232685 -0.823827
2000-01-07 -0.128837  0.067129 -1.875924 -0.018438
2000-01-08 -2.117612 -0.261489 -0.923048 -0.528702

In [5]:
df.E = list(range(len(df.index))) # no good way to create new columns if it existalready and want to change value then its ok

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [7]:
df["F"]= list(range(len(df.index))) # thats good way to create new columns

In [10]:
df['F'][5]

5

	
## **s.loc[indexer]**

In [14]:
df.F.loc['2000-01-05'] # access series through index

4

## **df.loc[row_indexer,column_indexer]**

In [19]:
df.loc['2000-01-05', "A"]  # access dataframe through index

-1.1834724791696258

In [28]:
df.iloc[ :1]

                   A         B         C         D  F
2000-01-01 -0.275069  1.066053  1.500997  1.618259  0

In [32]:
# creating series
s = df["F"]
s[0] # accessing through index

0

In [35]:
df

                   A         B         C         D  F
2000-01-01 -0.275069  1.066053  1.500997  1.618259  0
2000-01-02 -1.417984  0.362490  0.157748  1.262893  1
2000-01-03  1.131592  2.463179 -1.807286  0.449326  2
2000-01-04  0.018367  0.175605  0.940425 -0.241833  3
2000-01-05 -1.183472  0.480254 -0.020086  0.577372  4
2000-01-06 -1.005984 -0.328074 -1.232685 -0.823827  5
2000-01-07 -0.128837  0.067129 -1.875924 -0.018438  6
2000-01-08 -2.117612 -0.261489 -0.923048 -0.528702  7

In [36]:
# accessing columns through iloc
ss = df.iloc[2]
ss

A    1.131592
B    2.463179
C   -1.807286
D    0.449326
F    2.000000
Name: 2000-01-03 00:00:00, dtype: float64

In [33]:
v =df["F"].values# converting to array
v

array([0, 1, 2, 3, 4, 5, 6, 7])

In [40]:
df.sort_values(by = ["F"],ascending=False)

                   A         B         C         D  F
2000-01-08 -2.117612 -0.261489 -0.923048 -0.528702  7
2000-01-07 -0.128837  0.067129 -1.875924 -0.018438  6
2000-01-06 -1.005984 -0.328074 -1.232685 -0.823827  5
2000-01-05 -1.183472  0.480254 -0.020086  0.577372  4
2000-01-04  0.018367  0.175605  0.940425 -0.241833  3
2000-01-03  1.131592  2.463179 -1.807286  0.449326  2
2000-01-02 -1.417984  0.362490  0.157748  1.262893  1
2000-01-01 -0.275069  1.066053  1.500997  1.618259  0

In [45]:
df

                   A         B         C         D  F
2000-01-01 -0.275069  1.066053  1.500997  1.618259  0
2000-01-02 -1.417984  0.362490  0.157748  1.262893  1
2000-01-03  1.131592  2.463179 -1.807286  0.449326  2
2000-01-04  0.018367  0.175605  0.940425 -0.241833  3
2000-01-05 -1.183472  0.480254 -0.020086  0.577372  4
2000-01-06 -1.005984 -0.328074 -1.232685 -0.823827  5
2000-01-07 -0.128837  0.067129 -1.875924 -0.018438  6
2000-01-08 -2.117612 -0.261489 -0.923048 -0.528702  7

## **Slicing Range**

In [41]:
slice = df["F"]
slice[:5]

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
Freq: D, Name: F, dtype: int64

In [43]:
slice[::2]

2000-01-01    0
2000-01-03    2
2000-01-05    4
2000-01-07    6
Freq: 2D, Name: F, dtype: int64

In [44]:
slice[::-1]

2000-01-08    7
2000-01-07    6
2000-01-06    5
2000-01-05    4
2000-01-04    3
2000-01-03    2
2000-01-02    1
2000-01-01    0
Freq: -1D, Name: F, dtype: int64

In [46]:
slice[::-2]

2000-01-08    7
2000-01-06    5
2000-01-04    3
2000-01-02    1
Freq: -2D, Name: F, dtype: int64

In [47]:
s2 = slice.copy()
s2[:5]=0

In [48]:
s2

2000-01-01    0
2000-01-02    0
2000-01-03    0
2000-01-04    0
2000-01-05    0
2000-01-06    5
2000-01-07    6
2000-01-08    7
Freq: D, Name: F, dtype: int64

In [50]:
# slicing DataFrames
df[:3] # it will give first 3 rows

                   A         B         C         D  F
2000-01-01 -0.275069  1.066053  1.500997  1.618259  0
2000-01-02 -1.417984  0.362490  0.157748  1.262893  1
2000-01-03  1.131592  2.463179 -1.807286  0.449326  2

In [51]:
df[::-1]df1.loc['a', 'A']

                   A         B         C         D  F
2000-01-08 -2.117612 -0.261489 -0.923048 -0.528702  7
2000-01-07 -0.128837  0.067129 -1.875924 -0.018438  6
2000-01-06 -1.005984 -0.328074 -1.232685 -0.823827  5
2000-01-05 -1.183472  0.480254 -0.020086  0.577372  4
2000-01-04  0.018367  0.175605  0.940425 -0.241833  3
2000-01-03  1.131592  2.463179 -1.807286  0.449326  2
2000-01-02 -1.417984  0.362490  0.157748  1.262893  1
2000-01-01 -0.275069  1.066053  1.500997  1.618259  0

In [55]:
col = list("ABCD v")
col

['A', 'B', 'C', 'D', ' ', 'v']

In [56]:
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))

s1

a    0.424674
b    1.220482
c    1.825753
d    0.314666
e    0.112956
f    0.934189
dtype: float64

In [57]:
s1.loc['c':]

c    1.825753
d    0.314666
e    0.112956
f    0.934189
dtype: float64

In [58]:
s1.loc['b']

1.2204818581087618

In [62]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df1

          A         B         C         D
a  1.251483 -0.438616  1.200498  2.102537
b  2.238764  0.410699  1.976025 -0.480247
c -0.367728  0.100691 -0.014949 -0.825268
d  0.722768  0.570414 -0.666808 -1.518667
e -1.041209 -0.508422  0.796511 -0.932052
f  1.526355 -0.927094 -0.088916 -1.301376

In [66]:
df1.loc[['a', 'b', 'd'], :"B"]

          A         B
a  1.251483 -0.438616
b  2.238764  0.410699
d  0.722768  0.570414

In [67]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  1.251483 -0.438616  1.200498  2.102537
b  2.238764  0.410699  1.976025 -0.480247
d  0.722768  0.570414 -0.666808 -1.518667

In [68]:
df1.loc['d':, 'A':'C']# access via label  slices
# the first d : mean row d and onward , cdf1.loc['a', 'A']olumn A to column C

          A         B         C
d  0.722768  0.570414 -0.666808
e -1.041209 -0.508422  0.796511
f  1.526355 -0.927094 -0.088916

In [69]:
df1.loc['a'] # only first row for all columns

A    1.251483
B   -0.438616
C    1.200498
D    2.102537
Name: a, dtype: float64

In [70]:
df1.xs('a') # same as above

A    1.251483
B   -0.438616
C    1.200498
D    2.102537
Name: a, dtype: float64

## **Getting Values with Boolean**

In [72]:
b = df1.loc['a'] > 0  # boolean array 
b

A     True
B    False
C     True
D     True
Name: a, dtype: bool

In [74]:
df1.loc[:, df1.loc['a'] > 0]
# the first colun mean all row and after comma , it mean only those column that satistfy this condition 
# you can see B is flase for this condition and hence not included

          A         C         D
a  1.251483  1.200498  2.102537
b  2.238764  1.976025 -0.480247
c -0.367728 -0.014949 -0.825268
d  0.722768 -0.666808 -1.518667
e -1.041209  0.796511 -0.932052
f  1.526355 -0.088916 -1.301376

In [75]:
mask = pd.array([True, False, True, False, pd.NA, False], dtype="boolean")

mask

<BooleanArray>
[True, False, True, False, <NA>, False]
Length: 6, dtype: boolean

In [76]:
df1[mask]

          A         B         C         D
a  1.251483 -0.438616  1.200498  2.102537
c -0.367728  0.100691 -0.014949 -0.825268

In [77]:
df1.loc[lambda df: df['A'] > 0, :]df1.loc['a', 'A'] # get value explicitly

1.2514831051548223

In [78]:
df1.at["a","A"]

1.2514831051548223

## **Slicing with Labels**

In [79]:
s = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4])
sdf1.loc[lambda df: df['A'] > 0, :]

0    a
3    b
2    c
5    d
4    e
dtype: object

In [81]:
s.loc[3:5]

3    b
2    c
5    d
dtype: object

In [83]:
s.sort_index()  # they will sort index in asending order

0    a
2    c
3    b
4    e
5    d
dtype: object

In [87]:
s.sort_index().loc[1:6] # it will ignore the starting index because there is no such index exist

2    c
3    b
4    e
5    d
dtype: object

In [90]:
# s.loc[1:6]   this will produce error because no such range exist in this series

In [101]:
s.loc[0:5]

0    a
3    b
2    c
5    d
dtype: object

**Also, if the index has duplicate labels and either the start or the stop label is duplicated, an error will be raised. For instance, in the above example, s.loc[2:5] would raise a KeyError.**

In [91]:
s = pd.Series(list('abcdef'), index=[0, 3, 2, 5, 4, 2])

In [93]:
s.loc[3:5]

3    b
2    c
5    d
dtype: object

In [95]:
# s.loc[2:5] this will prdf1.loc[lambda df: df['A'] > 0, :]oduce error because there is duplicate of start index like 2

## **Selection by position**

In [97]:
s1 = pd.Series(np.random.randn(5), index=list(range(0, 10, 2)))
s1

0    2.100585
2    0.674946
4    0.391318
6    2.059274
8    0.370550
dtype: float64

In [103]:
s1.iloc[:3]

0    2.100585
2    0.674946
4    0.391318
dtype: float64

In [105]:
df1.loc[lambda df: df['A'] > 0, :]s1.iloc[3]

2.059274495200128

In [108]:
s1.iloc[:3] = 0
s1

0    0.000000
2    0.000000
4    0.000000
6    2.059274
8    0.370550
dtype: float64

## **with DataFrame**

In [109]:
# iloc handle out of range index
df2 = pd.DataFrame(np.random.randn(6, 4),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 8, 2)))
df2

           0         2         4         6
0  -0.205219  2.112902 -0.700843  0.954671
2   0.781031 -0.393672 -0.495953  0.990815
4   0.990530  0.152682  1.804873  0.055423
6  -1.022799 -0.646468  0.229157  1.676724
8  -0.479701 -1.296529  0.414149  1.348896
10 -0.693957  0.387028  1.465177  0.869656

In [111]:
df2.iloc[:3]

          0         2         4         6
0 -0.205219  2.112902 -0.700843  0.954671
2  0.781031 -0.393672 -0.495953  0.990815
4  0.990530  0.152682  1.804873  0.055423

In [114]:
df2.iloc[0:4] # in row star with first index and stop before last mentioned index

          0         2         4         6
0 -0.205219  2.112902 -0.700843  0.954671
2  0.781031 -0.393672 -0.495953  0.990815
4  0.990530  0.152682  1.804873  0.055423
6 -1.022799 -0.646468  0.229157  1.676724

In [112]:

df2.iloc[1:5, 2:4] # iloc is not specific to index vale just provide range and it work

          4         6
2 -0.495953  0.990815
4  1.804873  0.055423
6  0.229157  1.676724
8  0.414149  1.348896

**Select via integer list:**

In [116]:
df2

           0         2         4         6
0  -0.205219  2.112902 -0.700843  0.954671
2   0.781031 -0.393672 -0.495953  0.990815
4   0.990530  0.152682  1.804873  0.055423
6  -1.022799 -0.646468  0.229157  1.676724
8  -0.479701 -1.296529  0.414149  1.348896
10 -0.693957  0.387028  1.465177  0.869656

In [115]:
df2.iloc[[1, 3, 5], [1, 3]] # it will get exact the given index.

           2         6
2  -0.393672  0.990815
6  -0.646468  1.676724
10  0.387028  0.869656

In [117]:
df2.iloc[1:3, :]

          0         2         4         6
2  0.781031 -0.393672 -0.495953  0.990815
4  0.990530  0.152682  1.804873  0.055423

In [126]:
df2.iloc[:, 1:3] # the column slicing portion value is 3 so ot will give columns before 3 not 3

           2         4
0   2.112902 -0.700843
2  -0.393672 -0.495953
4   0.152682  1.804873
6  -0.646468  0.229157
8  -1.296529  0.414149
10  0.387028  1.465177

In [120]:
df2.iloc[1, 1]

-0.3936724793511665

In [121]:
df2.iat[1,1]

-0.3936724793511665

In [124]:
# getting a cross section using an integer position 
df2.iloc[3]

0   -1.022799
2   -0.646468
4    0.229157
6    1.676724
Name: 6, dtype: float64

### **Handle out of range index gracefully just as in python /Numpy.**

In [127]:
x=list("abcdefghi")
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [129]:
x[4:11] # here index 4 exist and last index is 8 so we given 11 it handle charmly

['e', 'f', 'g', 'h', 'i']

In [130]:
x[8:10]

['i']

In [133]:
x[-1]

['i']

In [134]:
sa = pd.Series(x)
sa4

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object

In [135]:
sa.iloc[4:10
]

4    e
5    f
6    g
7    h
8    i
dtype: object

In [136]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df1

          A         B         C         D
a  0.030365  0.076407 -0.766254  1.079579
b  1.046113  0.690862  0.490741  0.426670
c -0.562600 -0.700939 -1.348842 -0.207896
d -0.117684 -0.846667  0.480644 -0.629166
e -0.928129 -0.889611  0.150216 -0.993428
f -1.266654  0.456663 -0.660143  0.271161

In [137]:
df1.loc[lambda df: df['A'] > 0, :]# get specific values in column with conditions

          A         B         C         D
a  0.030365  0.076407 -0.766254  1.079579
b  1.046113  0.690862  0.490741  0.426670

In [147]:
df1.loc[lambda df: df['A'] >= 1, :] # get all values that are greater or equal to one in column A

          A         B         C        D
b  1.046113  0.690862  0.490741  0.42667

In [143]:
df1.loc[:, df1.loc['a'] > 0]

          A         B         D
a  0.030365  0.076407  1.079579
b  1.046113  0.690862  0.426670
c -0.562600 -0.700939 -0.207896
d -0.117684 -0.846667 -0.629166
e -0.928129 -0.889611 -0.993428
f -1.266654  0.456663  0.271161

In [148]:
df1.loc[:, lambda df: ['A', 'B']]

          A         B
a  0.030365  0.076407
b  1.046113  0.690862
c -0.562600 -0.700939
d -0.117684 -0.846667
e -0.928129 -0.889611
f -1.266654  0.456663

In [149]:
df1[lambda df: df.columns[0]]

a    0.030365
b    1.046113
c   -0.562600
d   -0.117684
e   -0.928129
f   -1.266654
Name: A, dtype: float64

In [150]:
df1.iloc[:, lambda df: [0, 1]]

          A         B
a  0.030365  0.076407
b  1.046113  0.690862
c -0.562600 -0.700939
d -0.117684 -0.846667
e -0.928129 -0.889611
f -1.266654  0.456663

In [151]:
df1['A'].loc[lambda s: s > 0]# you can use callable for series

a    0.030365
b    1.046113
Name: A, dtype: float64

In [153]:
import pandas as pd
raw_baseball_url = "https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/baseball.csv"
df = pd.read_csv(raw_baseball_url,index_col='id')

In [155]:
df.head(5)

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [156]:
(df.groupby(['year', 'team']).sum().loc[lambda df: df['r'] > 100])

           stint    g    ab    r    h  X2b  X3b  hr    rbi    sb   cs   bb  \
year team
2007 CIN       6  379   745  101  203   35    2  36  125.0  10.0  1.0  105
     DET       5  301  1062  162  283   54    4  37  144.0  24.0  7.0   97
     HOU       4  311   926  109  218   47    6  14   77.0  10.0  4.0   60
     LAN      11  413  1021  153  293   61    3  36  154.0   7.0  5.0  114
     NYN      13  622  1854  240  509  101    3  61  243.0  22.0  4.0  174
     SFN       5  482  1305  198  337   67    6  40  171.0  26.0  7.0  235
     TEX       2  198   729  115  200   40    4  28  115.0  21.0  4.0   73
     TOR       4  459  1408  187  378   96    2  58  223.0   4.0  2.0  190

              so   ibb   hbp    sh    sf  gidp
year team
2007 CIN   127.0  14.0   1.0   1.0  15.0  18.0
     DET   176.0   3.0  10.0   4.0   8.0  28.0
     HOU   212.0   3.0   9.0  16.0   6.0  17.0
     LAN   141.0   8.0   9.0   3.0   8.0  29.0
     NYN   310.0  24.0  23.0  18.0  15.0  48.0
     SFN   188.0  51.0   8.0  16.0   6.0  41.0
     TEX   140.0   4.0   5.0   2.0   8.0  16.0
     TOR   265.0  16.0  12.0   4.0  16.0  38.0

## **Combining positional and label-based indexing**

In [158]:
dfd = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]},
                   index=list('abc'))
dfd

   A  B
a  1  4
b  2  5
c  3  6

In [159]:
dfd.loc[dfd.index[[0, 2]], 'A']

a    1
c    3
Name: A, dtype: int64

In [160]:
dfd.iloc[[0, 2], dfd.columns.get_loc('A')]

a    1
c    3
Name: A, dtype: int64

In [161]:
dfd.iloc[[0, 2], dfd.columns.get_indexer(['A', 'B'])]

   A  B
a  1  4
c  3  6

In [163]:
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [164]:
s.loc[[1, 2]]

1    2
2    3
dtype: int64

In [167]:
# s.loc[[1, 2, 3]] # it will raise keyerror if one index is missing

In [172]:
s.reindex()
s

0    1
1    2
2    3
dtype: int64

## **Selecting random samples**